<div ng-controller="createController">
    <h2>Create New Employee</h2>
    <div class="jumbtron">
    <form action="" >
        <div class="row">
            <div class="col-md-4">Name</div>
            <div class="col-md-4">Employee ID</div>
            <div class="col-md-4">Designation</div>
        </div>
        <div class="row">
            <div class="col-md-3"><input type="text" name="name" id="name" ng-model="name"></div>
            <div class="col-md-3"><input type="text" name="emid" id="emid" ng-model="emid"></div>
            <div class="col-md-3"><input type="text" name="de" id="de" ng-model="de"></div>
            <div class="col-md-3"><input type="button" value="Create" ng-click="add()"></div>
        </div>
    </form>
        
    </div>
<!--    <div class="col_md-3"><button ng-click="add()">Create</button></div>-->
</div>